include ../../../components/length-stay/length-stay.pug
include ../../../components/amount-guest/amount-guest.pug
include ../../../components/filter-date/filter-date.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/permissions-checkbox/permissions-checkbox.pug
include ../../../components/gender-select/gender-select.pug
include ../../../components/special-offers/special-offers.pug
include ../../../components/caption/caption.pug
include ../../../components/text-field/text-field.pug
include ../../../components/like-button/like-button.pug
include ../../../components/rating/mixins/rating-stars.pug
include ../../../components/rating/rating.pug

- var imgRowDown_length_stay = 'components/length-stay/img/row_down';
- var imgRowDown_amount_guest = 'components/amount-guest/img/row_down';
//- - var imgCircleDeduct_amount_guest = 'components/amount-guest/img/circle-deduct';
//- - var imgCircleAdd_amount_guest = 'components/amount-guest/img/circle-add';
- var imgRowDown_filter_date = 'assets/img/row_down';
//- - var imgRow_subscription_field = 'components/subscription-field/img/arrow_forward';
//- img(src=require(`/src/${imgCircleDeduct}.svg`), alt="Кружок уменьшения").pic-deduct-babies

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    //- script(type="text/javascript" src="/src/assets/js/jquery-3.6.0.min.js")
    //- script(type="text/javascript" src=require("../../../assets/js/jquery-3.6.0.min.js"))
    //- script(type="text/javascript" src=require("../../../assets/js/rater.min.js"))
    //- script(src=require("../../../../node_modules/rater-js/index.js"))
    title Form Elements
  body
    div.wrapper
      div.header
        img.logo(src=require("../../../assets/img/logo.svg"), alt="Логотип")
      main.main
        div.form-elements
          div.form-elements__column.form-elements__column_1
            div.form-elements__column-item
              +text-field("Text Field","Default","text","Email")
            div.form-elements__column-item
              +text-field("Text Field","Hover / Focus","text","This is pretty awesome")
            div.form-elements__column-item
              +amount-guests(imgRowDown_amount_guest,imgCircleDeduct_amount_guest,imgCircleAdd_amount_guest) 
            div.form-elements__column-item
              div.date-text-field
                div.date-arrival
                  +caption("masked text field")
                  input.date-arrival__dropdown.date-arrival__dropdown_w_100(type="text" name="date-arrival" placeholder="ДД.ММ.ГГГГ")
                //- +text-field("masked text field","","text","ДД.ММ.ГГГГ")
                //- +caption('masked text field')
                //- div.masked-date__field ДД.ММ.ГГГГ
            div.form-elements__column-item
              +length-stay("date Dropdown","date Dropdown",imgRowDown_length_stay)
            div.form-elements__column-item  
              +filter-dates(imgRowDown_filter_date)
            div.form-elements__column-item
              +subscription-field(imgRow_subscription_field)
          div.form-elements__column.form-elements__column_2
            div.form-elements__column-item
              +permissions-checkbox()
            div.form-elements__column-item
              +gender-select()
            div.form-elements__column-item
              +special-offers("toogle")
            div.form-elements__column-item
              +special-offers()
            div.form-elements__column-item
              +caption("like button")
              +like-button(1)
              +like-button(12)
            div.form-elements__column-item
              +caption("rate button")
              div.inner
                +rating()
                +rating()
          div.form-elements__column
      footer.footer